/**************************/
/* BELOW 1344px */
/**************************/

@media (max-width: 84em) {
  .card {
    width: 50rem;
  }

  .summary {
    line-height: 1.6;
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
  }

  .changes {
    margin-left: 20rem;
  }
}

/**************************/
/* BELOW 512px */
/**************************/
@media (max-width: 32em) {
  .container {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  .card {
    max-width: 85%;
  }

  .topic {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .summary {
    line-height: 1.6;
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }

  .plan {
    font-size: 1.3rem;
  }

  .changes {
    margin-left: 10rem;
  }
}

/**************************/
/* BELOW 448px */
/**************************/
@media (max-width: 28em) {
  .card {
    max-width: 87%;
  }

  .plan {
    font-size: 1.5rem;
  }
  .changes {
    margin-left: 7rem;
  }
}

/**************************/
/* BELOW 400px */
/**************************/
@media (max-width: 25em) {
  .card {
    max-width: 87%;
  }
  .changes {
    margin-left: 2.5rem;
  }

  .music-icon {
    margin: 1rem;
  }
}
